name: publish
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:  # remove in favor of release
  # release:
  #   types: [published]

jobs:
  pypi:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    environment: pypi
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ github.event.release.tag_name }}
      - run: uv publish --trusted-publishing always --publish-url https://test.pypi.org/legacy/
